:root {
  --gold:#d4af37;
}

*{margin:0;padding:0;box-sizing:border-box}

body{
  font-family:Montserrat,sans-serif;
  background:#fff;
  color:#222;
}

/* HERO */
.landing{
  text-align:center;
  padding:30px 20px;
}

.landing h1{
  font-family:'Great Vibes';
  font-size:3rem;
  color:var(--gold);
}

.landing p{
  font-family:'Playfair Display';
  margin-top:8px;
}

/* IMAGE */
.hero-img{
  width:100%;
  height:60vh;
  object-fit:cover;
}

/* SECTION TITLE */
.section-title{
  text-align:center;
  padding:40px 20px;
}

.section-title h2{
  font-family:'Great Vibes';
  font-size:2.5rem;
}

.section-title p{
  color:#666;
}

/* GALLERY */
.gallery{
  display:flex;
  overflow:hidden;
}

.gallery-track{
  display:flex;
  animation:scroll 35s linear infinite;
}

.gallery img{
  width:180px;
  height:260px;
  object-fit:cover;
  margin:5px;
}

@keyframes scroll{
  from{transform:translateX(-50%)}
  to{transform:translateX(0)}
}

/* LETTER */
.letter{
  text-align:center;
  padding:60px 20px;
  background:#f7f7f7;
}

.letter h2{
  font-family:'Great Vibes';
  font-size:2.5rem;
}

.letter p{
  max-width:500px;
  margin:auto;
  line-height:1.6;
}

/* TIMELINE */
.timeline{
  padding:40px 20px;
  text-align:center;
}

.timeline h2{
  font-family:'Great Vibes';
  font-size:2.5rem;
}

.card{
  border:1px solid var(--gold);
  border-radius:20px;
  padding:25px;
  margin:25px auto;
  max-width:400px;
}

/* COUNTDOWN */
.countdown{
  text-align:center;
  padding:40px 20px;
}

.timer{
  font-size:2rem;
  color:var(--gold);
}

/* FOOTER */
.footer{
  text-align:center;
  padding:40px 20px;
}

.footer h2{
  font-family:'Great Vibes';
  color:var(--gold);
}
